{{> head}}

{{> bootstrap}}
<body>

    {{> navbar}}

    <div class="row">

<div class="col-8">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat voluptatum adipisci est voluptatem quisquam velit aliquid ipsam maxime porro, nesciunt quidem delectus pariatur excepturi consequuntur? Atque nam ut dolore illo?</p>

</div>

<div class="col-4">
    <img src="/styles/assets/ironman.jpeg"  class="img-thumbnail">

</div>

    </div>

    

    {{> footer}}



    
</body>
</html>